<script>
    export let href;

    import { page } from '$app/stores';

    $: isActive = href === $page.url.pathname;
    $: activeClasses = isActive ? 'text-white/100 hover:text-white/100 pointer-events-none' : 'text-white/40 hover:text-white/50';
    $: afterActiveClasses = isActive ? '' : 'after:opacity-0 after:scale-x-150 after:scale-y-150 lg:after:translate-y-full';
</script>

<a class="
    relative my-3 lg:my-0 mx-0 lg:mx-13 py-4 lg:py-10 text-4xl font-semibold select-none duration-300 {activeClasses}
    after:block after:w-23 after:h-2 after:-translate-x-1/2 after:absolute after:bottom-0 after:left-1/2 after:bg-white after:rounded-full after:duration-150 after:pointer-events-none {afterActiveClasses}
" {href} data-sveltekit-noscroll>
    <slot />
</a>