<script>
    import Item from '$lib/components/nav/item.svelte';

    export let items;
</script>

<nav class="flex flex-wrap justify-center items-center flex-col lg:flex-row">
    {#each items as {title, slug} (slug)}
        <Item href={'/' + slug}>
            {title}
        </Item>
    {/each}
</nav>