<script>
    import meta from '$lib/data/meta.js';
    import Title from '$lib/components/meta/title.svelte';
</script>

<Title beginning={meta.title404} />
<svelte:head>
    <meta name="robots" content="noindex">
</svelte:head>