<script>
    import meta from '$lib/data/meta.js'

    export let beginning;

    $: fullTitle = (beginning ? beginning + ' - ' : '') + meta.titleEnd;
</script>

<svelte:head>
    <title>{fullTitle}</title>
</svelte:head>